.map {
  min-height: 60vh;
  position: relative;
  // background-image: url("../../assets/desktop/image-map@2x.png");
  // background-repeat: no-repeat;
  // background-size: 100% 100%;

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
  }
}

.address {
  background-color: var(--clr-black);
  padding: var(--location-padding-top) var(--location-padding-right);

  display: flex;
  flex-direction: column;
  gap: var(--location-gap);

  &__p {
    margin: 1.25rem 0;
  }
}

@media (min-width: 48em) {
  .address {
    flex-direction: row;
  }
}
