:root {
  --ff-heading: "Big Shoulders Display", cursive;
  --ff-text: "Outfit", sans-serif;

  --fw-300: 300;
  --fw-900: 900;

  --clr-gold: #d5966c;
  --clr-black: #151515;
  --clr-dark-grey: #444444;
  --clr-white: #ffffff;

  --fs-heading-xl: 3.75rem;
  --lh-heading-xl: 0.91em;

  --fs-heading-l: 3.125rem;
  --lh-heading-l: 2.8125rem;

  --fs-heading-m: 3.125rem;
  --lh-heading-m: 2.8125rem;

  --fs-heading-s: 2rem;
  --lh-heading-s: 2rem;

  --fs-body-m: 1.125rem;
  --lh-body-m: 1.75rem;

  --fs-body-s: 1rem;
  --lh-body-s: 1.625rem;

  --fs-button: 1.25rem;
  --lh-button: 1.5rem;
  --ls-button: 0.2272725rem;

  --space-ms: 1.5rem;
  --space-m: 2rem;

  @media (min-width: 48em) {
    --fs-heading-xl: 4.375rem;

    --fs-heading-l: 3.4375rem;
    --lh-heading-l: 3.125rem;
  }

  @media (min-width: 90em) {
    --fs-heading-xl: 6rem;

    --fs-heading-l: 4.375rem;
    --lh-heading-l: 4.375rem;

    --fs-heading-m: 3.75rem;
    --lh-heading-m: 3.75rem;

    --fs-heading-s: 2.25rem;
    --lh-heading-s: 2.25rem;

    --fs-body-m: 1.375rem;
    --lh-body-m: 2rem;

    --fs-body-s: 1.125rem;
    --lh-body-s: 1.75rem;
  }
}
